app/__pycache__/__init__.cpython-311.pyc
app/__pycache__/
DjangoGraphQLRedis/__pycache__/
DjangoGraphQLRedis/__pycache__/settings.cpython-311.pyc
DjangoGraphQLRedis/__pycache__/urls.cpython-311.pyc
DjangoGraphQLRedis/__pycache__/urls.cpython-311.pyc
DjangoGraphQLRedis/__pycache__/schema.cpython-311.pyc
app/migrations/__pycache__/__init__.cpython-311.pyc
DjangoGraphQLRedis/__pycache__/urls.cpython-311.pyc
